<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">

    <!-- Ядро -->
    <class name="ОтелАтрибуты" file="src/Ядро/Классы/ОтелАтрибуты.os"/>
    <class name="ОтелРесурс" file="src/Ядро/Классы/ОтелРесурс.os"/>
    <class name="ОтелДетекторРесурсаХоста" file="src/Ядро/Классы/ОтелДетекторРесурсаХоста.os"/>
    <class name="ОтелДетекторРесурсаПроцесса" file="src/Ядро/Классы/ОтелДетекторРесурсаПроцесса.os"/>
    <class name="ОтелДетекторРесурсаПроцессора" file="src/Ядро/Классы/ОтелДетекторРесурсаПроцессора.os"/>
    <class name="ОтелПостроительРесурса" file="src/Ядро/Классы/ОтелПостроительРесурса.os"/>
    <class name="ОтелBaggage" file="src/Ядро/Классы/ОтелBaggage.os"/>
    <class name="ОтелПостроительBaggage" file="src/Ядро/Классы/ОтелПостроительBaggage.os"/>
    <class name="ОтелОбласть" file="src/Ядро/Классы/ОтелОбласть.os"/>
    <class name="ОтелКлючКонтекста" file="src/Ядро/Классы/ОтелКлючКонтекста.os"/>
    <class name="ОтелОбластьИнструментирования" file="src/Ядро/Классы/ОтелОбластьИнструментирования.os"/>
    <class name="ОтелSdk" file="src/Ядро/Классы/ОтелSdk.os"/>
    <class name="ОтелПостроительSdk" file="src/Ядро/Классы/ОтелПостроительSdk.os"/>
    <module name="ОтелГлобальный" file="src/Ядро/Модули/ОтелГлобальный.os"/>
    <module name="ОтелКонтекст" file="src/Ядро/Модули/ОтелКонтекст.os"/>
    <module name="ОтелУтилиты" file="src/Ядро/Модули/ОтелУтилиты.os"/>
    <class name="ОтелРезультатЭкспорта" file="src/Ядро/Классы/ОтелРезультатЭкспорта.os"/>
    <module name="ОтелРезультатыЭкспорта" file="src/Ядро/Модули/ОтелРезультатыЭкспорта.os"/>

    <!-- Трассировка -->
    <class name="ОтелПровайдерТрассировки" file="src/Трассировка/Классы/ОтелПровайдерТрассировки.os"/>
    <class name="ОтелПостроительПровайдераТрассировки" file="src/Трассировка/Классы/ОтелПостроительПровайдераТрассировки.os"/>
    <class name="ОтелЛимитыСпана" file="src/Трассировка/Классы/ОтелЛимитыСпана.os"/>
    <class name="ОтелТрассировщик" file="src/Трассировка/Классы/ОтелТрассировщик.os"/>
    <class name="ОтелПостроительТрассировщика" file="src/Трассировка/Классы/ОтелПостроительТрассировщика.os"/>
    <class name="ОтелСпан" file="src/Трассировка/Классы/ОтелСпан.os"/>
    <class name="ОтелНоопСпан" file="src/Трассировка/Классы/ОтелНоопСпан.os"/>
    <class name="ОтелПостроительСпана" file="src/Трассировка/Классы/ОтелПостроительСпана.os"/>
    <class name="ОтелКонтекстСпана" file="src/Трассировка/Классы/ОтелКонтекстСпана.os"/>
    <class name="ОтелСостояниеТрассировки" file="src/Трассировка/Классы/ОтелСостояниеТрассировки.os"/>
    <class name="ОтелРезультатСэмплирования" file="src/Трассировка/Классы/ОтелРезультатСэмплирования.os"/>
    <class name="ОтелСобытиеСпана" file="src/Трассировка/Классы/ОтелСобытиеСпана.os"/>
    <class name="ОтелПростойПроцессорСпанов" file="src/Трассировка/Классы/ОтелПростойПроцессорСпанов.os"/>
    <class name="ОтелПакетныйПроцессорСпанов" file="src/Трассировка/Классы/ОтелПакетныйПроцессорСпанов.os"/>
    <class name="ОтелКомпозитныйПроцессорСпанов" file="src/Трассировка/Классы/ОтелКомпозитныйПроцессорСпанов.os"/>
    <class name="ИнтерфейсПроцессорСпанов" file="src/Трассировка/Классы/ИнтерфейсПроцессорСпанов.os"/>
    <module name="ОтелВидСпана" file="src/Трассировка/Модули/ОтелВидСпана.os"/>
    <module name="ОтелКодСтатуса" file="src/Трассировка/Модули/ОтелКодСтатуса.os"/>
    <module name="ОтелСэмплер" file="src/Трассировка/Модули/ОтелСэмплер.os"/>

    <!-- Логирование -->
    <class name="ОтелПровайдерЛогирования" file="src/Логирование/Классы/ОтелПровайдерЛогирования.os"/>
    <class name="ОтелПостроительПровайдераЛогирования" file="src/Логирование/Классы/ОтелПостроительПровайдераЛогирования.os"/>
    <class name="ОтелЛимитыЗаписейЛога" file="src/Логирование/Классы/ОтелЛимитыЗаписейЛога.os"/>
    <class name="ОтелКонфигурацияЛоггера" file="src/Логирование/Классы/ОтелКонфигурацияЛоггера.os"/>
    <class name="ОтелЛоггер" file="src/Логирование/Классы/ОтелЛоггер.os"/>
    <class name="ОтелПостроительЛоггера" file="src/Логирование/Классы/ОтелПостроительЛоггера.os"/>
    <class name="ОтелЗаписьЛога" file="src/Логирование/Классы/ОтелЗаписьЛога.os"/>
    <class name="ОтелПростойПроцессорЛогов" file="src/Логирование/Классы/ОтелПростойПроцессорЛогов.os"/>
    <class name="ОтелПакетныйПроцессорЛогов" file="src/Логирование/Классы/ОтелПакетныйПроцессорЛогов.os"/>
    <class name="ОтелКомпозитныйПроцессорЛогов" file="src/Логирование/Классы/ОтелКомпозитныйПроцессорЛогов.os"/>
    <class name="ИнтерфейсПроцессорЛогов" file="src/Логирование/Классы/ИнтерфейсПроцессорЛогов.os"/>
    <module name="ОтелСтепеньСерьезности" file="src/Логирование/Модули/ОтелСтепеньСерьезности.os"/>

    <!-- Метрики -->
    <class name="ОтелПровайдерМетрик" file="src/Метрики/Классы/ОтелПровайдерМетрик.os"/>
    <class name="ОтелПостроительПровайдераМетрик" file="src/Метрики/Классы/ОтелПостроительПровайдераМетрик.os"/>
    <class name="ОтелМетр" file="src/Метрики/Классы/ОтелМетр.os"/>
    <class name="ОтелПостроительМетра" file="src/Метрики/Классы/ОтелПостроительМетра.os"/>
    <class name="ОтелСчетчик" file="src/Метрики/Классы/ОтелСчетчик.os"/>
    <class name="ОтелРеверсивныйСчетчик" file="src/Метрики/Классы/ОтелРеверсивныйСчетчик.os"/>
    <class name="ОтелГистограмма" file="src/Метрики/Классы/ОтелГистограмма.os"/>
    <class name="ОтелЭкспоненциальнаяГистограмма" file="src/Метрики/Классы/ОтелЭкспоненциальнаяГистограмма.os"/>
    <class name="ОтелРезервуарЭкземпляров" file="src/Метрики/Классы/ОтелРезервуарЭкземпляров.os"/>
    <class name="ОтелВыровненныйРезервуарГистограммы" file="src/Метрики/Классы/ОтелВыровненныйРезервуарГистограммы.os"/>
    <class name="ОтелДатчик" file="src/Метрики/Классы/ОтелДатчик.os"/>
    <class name="ОтелНаблюдаемыйСчетчик" file="src/Метрики/Классы/ОтелНаблюдаемыйСчетчик.os"/>
    <class name="ОтелНаблюдениеМетрики" file="src/Метрики/Классы/ОтелНаблюдениеМетрики.os"/>
    <class name="ОтелНаблюдаемыйРеверсивныйСчетчик" file="src/Метрики/Классы/ОтелНаблюдаемыйРеверсивныйСчетчик.os"/>
    <class name="ОтелНаблюдаемыйДатчик" file="src/Метрики/Классы/ОтелНаблюдаемыйДатчик.os"/>
    <class name="ОтелРегистрацияНаблюдателя" file="src/Метрики/Классы/ОтелРегистрацияНаблюдателя.os"/>
    <class name="ОтелДанныеМетрики" file="src/Метрики/Классы/ОтелДанныеМетрики.os"/>
    <class name="ОтелПериодическийЧитательМетрик" file="src/Метрики/Классы/ОтелПериодическийЧитательМетрик.os"/>
    <class name="ОтелПрометеусЧитательМетрик" file="src/Метрики/Классы/ОтелПрометеусЧитательМетрик.os"/>
    <class name="ОтелПредставление" file="src/Метрики/Классы/ОтелПредставление.os"/>
    <class name="ОтелСелекторИнструментов" file="src/Метрики/Классы/ОтелСелекторИнструментов.os"/>
    <module name="ОтелАгрегация" file="src/Метрики/Модули/ОтелАгрегация.os"/>
    <module name="ОтелВременнаяАгрегация" file="src/Метрики/Модули/ОтелВременнаяАгрегация.os"/>
    <module name="ОтелСелекторВременнойАгрегации" file="src/Метрики/Модули/ОтелСелекторВременнойАгрегации.os"/>
    <module name="ОтелФильтрЭкземпляров" file="src/Метрики/Модули/ОтелФильтрЭкземпляров.os"/>
    <module name="ОтелРезультатФильтраМетрик" file="src/Метрики/Модули/ОтелРезультатФильтраМетрик.os"/>
    <module name="ОтелРезультатФильтраАтрибутов" file="src/Метрики/Модули/ОтелРезультатФильтраАтрибутов.os"/>
    <module name="ОтелТипМетрики" file="src/Метрики/Модули/ОтелТипМетрики.os"/>
    <class name="ОтелФильтрМетрик" file="src/Метрики/Классы/ОтелФильтрМетрик.os"/>
    <class name="ОтелБазовыйАгрегатор" file="src/Метрики/Классы/ОтелБазовыйАгрегатор.os"/>
    <class name="ОтелАгрегаторСуммы" file="src/Метрики/Классы/ОтелАгрегаторСуммы.os"/>
    <class name="ОтелАгрегаторПоследнегоЗначения" file="src/Метрики/Классы/ОтелАгрегаторПоследнегоЗначения.os"/>
    <class name="ОтелАгрегаторГистограммы" file="src/Метрики/Классы/ОтелАгрегаторГистограммы.os"/>
    <class name="ОтелАгрегаторЭкспоненциальнойГистограммы" file="src/Метрики/Классы/ОтелАгрегаторЭкспоненциальнойГистограммы.os"/>
    <class name="ИнтерфейсИнструментМетрик" file="src/Метрики/Классы/ИнтерфейсИнструментМетрик.os"/>
    <class name="ОтелБазовыйСинхронныйИнструмент" file="src/Метрики/Классы/ОтелБазовыйСинхронныйИнструмент.os"/>
    <class name="ОтелБазовыйНаблюдаемыйИнструмент" file="src/Метрики/Классы/ОтелБазовыйНаблюдаемыйИнструмент.os"/>

    <!-- Экспорт -->
    <class name="ОтелБазовыйПакетныйПроцессор" file="src/Экспорт/Классы/ОтелБазовыйПакетныйПроцессор.os"/>
    <class name="ОтелHttpТранспорт" file="src/Экспорт/Классы/ОтелHttpТранспорт.os"/>
    <class name="ОтелGrpcТранспорт" file="src/Экспорт/Классы/ОтелGrpcТранспорт.os"/>
    <class name="ОтелВПамятьТранспорт" file="src/Экспорт/Классы/ОтелВПамятьТранспорт.os"/>
    <class name="ОтелЭкспортерСпанов" file="src/Экспорт/Классы/ОтелЭкспортерСпанов.os"/>
    <class name="ОтелЭкспортерЛогов" file="src/Экспорт/Классы/ОтелЭкспортерЛогов.os"/>
    <class name="ОтелЭкспортерМетрик" file="src/Экспорт/Классы/ОтелЭкспортерМетрик.os"/>
    <class name="ИнтерфейсЭкспортерСпанов" file="src/Экспорт/Классы/ИнтерфейсЭкспортерСпанов.os"/>
    <class name="ИнтерфейсЭкспортерЛогов" file="src/Экспорт/Классы/ИнтерфейсЭкспортерЛогов.os"/>
    <class name="ИнтерфейсЭкспортерМетрик" file="src/Экспорт/Классы/ИнтерфейсЭкспортерМетрик.os"/>
    <class name="ОтелКонвертерOtlpВProto" file="src/Экспорт/Классы/ОтелКонвертерOtlpВProto.os"/>

    <!-- Пропагация -->
    <class name="ОтелКомпозитныйПропагатор" file="src/Пропагация/Классы/ОтелКомпозитныйПропагатор.os"/>
    <class name="ОтелW3CПропагатор" file="src/Пропагация/Классы/ОтелW3CПропагатор.os"/>
    <class name="ОтелW3CBaggageПропагатор" file="src/Пропагация/Классы/ОтелW3CBaggageПропагатор.os"/>
    <class name="ОтелНоопПропагатор" file="src/Пропагация/Классы/ОтелНоопПропагатор.os"/>
    <class name="ОтелГеттерТекстовойКарты" file="src/Пропагация/Классы/ОтелГеттерТекстовойКарты.os"/>
    <class name="ОтелСеттерТекстовойКарты" file="src/Пропагация/Классы/ОтелСеттерТекстовойКарты.os"/>

    <!-- Конфигурация -->
    <module name="ОтелАвтоконфигурация" file="src/Конфигурация/Модули/ОтелАвтоконфигурация.os"/>

    <!-- Интеграции -->
    <class name="ОтелАппендерLogos" file="src/Интеграции/Классы/ОтелАппендерLogos.os"/>

</package-def>
