<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">

    <!-- Ядро -->
    <class name="ОтелАтрибуты" file="src/Ядро/Классы/ОтелАтрибуты.os"/>
    <class name="ОтелРесурс" file="src/Ядро/Классы/ОтелРесурс.os"/>
    <class name="ОтелBaggage" file="src/Ядро/Классы/ОтелBaggage.os"/>
    <class name="ОтелПостроительBaggage" file="src/Ядро/Классы/ОтелПостроительBaggage.os"/>
    <class name="ОтелSdk" file="src/Ядро/Классы/ОтелSdk.os"/>
    <class name="ОтелПостроительSdk" file="src/Ядро/Классы/ОтелПостроительSdk.os"/>
    <module name="ОтелГлобальный" file="src/Ядро/Модули/ОтелГлобальный.os"/>
    <module name="ОтелКонтекст" file="src/Ядро/Модули/ОтелКонтекст.os"/>
    <module name="ОтелУтилиты" file="src/Ядро/Модули/ОтелУтилиты.os"/>
    <module name="ОтелРезультатЭкспорта" file="src/Ядро/Модули/ОтелРезультатЭкспорта.os"/>

    <!-- Трассировка -->
    <class name="ОтелПровайдерТрассировки" file="src/Трассировка/Классы/ОтелПровайдерТрассировки.os"/>
    <class name="ОтелПостроительПровайдераТрассировки" file="src/Трассировка/Классы/ОтелПостроительПровайдераТрассировки.os"/>
    <class name="ОтелТрассировщик" file="src/Трассировка/Классы/ОтелТрассировщик.os"/>
    <class name="ОтелПостроительТрассировщика" file="src/Трассировка/Классы/ОтелПостроительТрассировщика.os"/>
    <class name="ОтелСпан" file="src/Трассировка/Классы/ОтелСпан.os"/>
    <class name="ОтелПостроительСпана" file="src/Трассировка/Классы/ОтелПостроительСпана.os"/>
    <class name="ОтелКонтекстСпана" file="src/Трассировка/Классы/ОтелКонтекстСпана.os"/>
    <class name="ОтелСобытиеСпана" file="src/Трассировка/Классы/ОтелСобытиеСпана.os"/>
    <class name="ОтелПростойПроцессорСпанов" file="src/Трассировка/Классы/ОтелПростойПроцессорСпанов.os"/>
    <class name="ОтелПакетныйПроцессорСпанов" file="src/Трассировка/Классы/ОтелПакетныйПроцессорСпанов.os"/>
    <class name="ОтелКомпозитныйПроцессорСпанов" file="src/Трассировка/Классы/ОтелКомпозитныйПроцессорСпанов.os"/>
    <module name="ОтелВидСпана" file="src/Трассировка/Модули/ОтелВидСпана.os"/>
    <module name="ОтелКодСтатуса" file="src/Трассировка/Модули/ОтелКодСтатуса.os"/>
    <module name="ОтелСемплер" file="src/Трассировка/Модули/ОтелСемплер.os"/>

    <!-- Логирование -->
    <class name="ОтелПровайдерЛогирования" file="src/Логирование/Классы/ОтелПровайдерЛогирования.os"/>
    <class name="ОтелПостроительПровайдераЛогирования" file="src/Логирование/Классы/ОтелПостроительПровайдераЛогирования.os"/>
    <class name="ОтелЛоггер" file="src/Логирование/Классы/ОтелЛоггер.os"/>
    <class name="ОтелПостроительЛоггера" file="src/Логирование/Классы/ОтелПостроительЛоггера.os"/>
    <class name="ОтелЗаписьЛога" file="src/Логирование/Классы/ОтелЗаписьЛога.os"/>
    <class name="ОтелПростойПроцессорЛогов" file="src/Логирование/Классы/ОтелПростойПроцессорЛогов.os"/>
    <class name="ОтелПакетныйПроцессорЛогов" file="src/Логирование/Классы/ОтелПакетныйПроцессорЛогов.os"/>
    <class name="ОтелКомпозитныйПроцессорЛогов" file="src/Логирование/Классы/ОтелКомпозитныйПроцессорЛогов.os"/>
    <module name="ОтелСтепеньСерьезности" file="src/Логирование/Модули/ОтелСтепеньСерьезности.os"/>

    <!-- Метрики -->
    <class name="ОтелПровайдерМетрик" file="src/Метрики/Классы/ОтелПровайдерМетрик.os"/>
    <class name="ОтелПостроительПровайдераМетрик" file="src/Метрики/Классы/ОтелПостроительПровайдераМетрик.os"/>
    <class name="ОтелМетр" file="src/Метрики/Классы/ОтелМетр.os"/>
    <class name="ОтелПостроительМетра" file="src/Метрики/Классы/ОтелПостроительМетра.os"/>
    <class name="ОтелСчетчик" file="src/Метрики/Классы/ОтелСчетчик.os"/>
    <class name="ОтелРеверсивныйСчетчик" file="src/Метрики/Классы/ОтелРеверсивныйСчетчик.os"/>
    <class name="ОтелГистограмма" file="src/Метрики/Классы/ОтелГистограмма.os"/>
    <class name="ОтелДатчик" file="src/Метрики/Классы/ОтелДатчик.os"/>
    <class name="ОтелНаблюдаемыйСчетчик" file="src/Метрики/Классы/ОтелНаблюдаемыйСчетчик.os"/>
    <class name="ОтелНаблюдаемыйРеверсивныйСчетчик" file="src/Метрики/Классы/ОтелНаблюдаемыйРеверсивныйСчетчик.os"/>
    <class name="ОтелНаблюдаемыйДатчик" file="src/Метрики/Классы/ОтелНаблюдаемыйДатчик.os"/>
    <class name="ОтелПериодическийЧитательМетрик" file="src/Метрики/Классы/ОтелПериодическийЧитательМетрик.os"/>
    <class name="ОтелПредставление" file="src/Метрики/Классы/ОтелПредставление.os"/>
    <class name="ОтелСелекторИнструментов" file="src/Метрики/Классы/ОтелСелекторИнструментов.os"/>
    <module name="ОтелАгрегация" file="src/Метрики/Модули/ОтелАгрегация.os"/>
    <module name="ОтелВременнаяАгрегация" file="src/Метрики/Модули/ОтелВременнаяАгрегация.os"/>
    <module name="ОтелСелекторВременнойАгрегации" file="src/Метрики/Модули/ОтелСелекторВременнойАгрегации.os"/>
    <module name="ОтелФильтрЭкземпляров" file="src/Метрики/Модули/ОтелФильтрЭкземпляров.os"/>

    <!-- Экспорт -->
    <class name="ОтелHttpТранспорт" file="src/Экспорт/Классы/ОтелHttpТранспорт.os"/>
    <class name="ОтелGrpcТранспорт" file="src/Экспорт/Классы/ОтелGrpcТранспорт.os"/>
    <class name="ОтелHttpЭкспортерСпанов" file="src/Экспорт/Классы/ОтелHttpЭкспортерСпанов.os"/>
    <class name="ОтелHttpЭкспортерЛогов" file="src/Экспорт/Классы/ОтелHttpЭкспортерЛогов.os"/>
    <class name="ОтелHttpЭкспортерМетрик" file="src/Экспорт/Классы/ОтелHttpЭкспортерМетрик.os"/>
    <class name="ОтелGrpcЭкспортерСпанов" file="src/Экспорт/Классы/ОтелGrpcЭкспортерСпанов.os"/>
    <class name="ОтелGrpcЭкспортерЛогов" file="src/Экспорт/Классы/ОтелGrpcЭкспортерЛогов.os"/>
    <class name="ОтелGrpcЭкспортерМетрик" file="src/Экспорт/Классы/ОтелGrpcЭкспортерМетрик.os"/>
    <class name="ОтелВПамятьЭкспортерСпанов" file="src/Экспорт/Классы/ОтелВПамятьЭкспортерСпанов.os"/>
    <class name="ОтелВПамятьЭкспортерЛогов" file="src/Экспорт/Классы/ОтелВПамятьЭкспортерЛогов.os"/>
    <class name="ОтелВПамятьЭкспортерМетрик" file="src/Экспорт/Классы/ОтелВПамятьЭкспортерМетрик.os"/>
    <class name="ОтелКонвертерOtlpВProto" file="src/Экспорт/Классы/ОтелКонвертерOtlpВProto.os"/>

    <!-- Пропагация -->
    <class name="ОтелКомпозитныйПропагатор" file="src/Пропагация/Классы/ОтелКомпозитныйПропагатор.os"/>
    <module name="ОтелW3CПропагатор" file="src/Пропагация/Модули/ОтелW3CПропагатор.os"/>
    <module name="ОтелW3CBaggageПропагатор" file="src/Пропагация/Модули/ОтелW3CBaggageПропагатор.os"/>

    <!-- Конфигурация -->
    <module name="ОтелАвтоконфигурация" file="src/Конфигурация/Модули/ОтелАвтоконфигурация.os"/>

    <!-- Интеграции -->
    <class name="ОтелАппендерLogos" file="src/Интеграции/Классы/ОтелАппендерLogos.os"/>

</package-def>
